.post {
    background-color:whitesmoke;
    max-width: 500px;
    border: 1px solid white;
    margin-bottom: 40px;
}
.Post_pic{
    width : 100%;
    object-fit: contain;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.Post_text{
    font-weight:normal;
    padding: 20px;
}

.Post_header{
    display: flex;
    align-items: center;
    padding : 20px;
}
.Post_avatar{
    margin-right: 10px;
}
.Post_commentbox{
    margin-top: 15px;
    display: flex;
}
.Post_input{
    flex: 2;
    padding: 15px;
    border: whitesmoke;
}
.Post_button{
    flex: 1;
    border: none;
}
.Post_comments{
    padding: 15px;
}
.Post_follow{
    position: relative;
    left: 220px;
}